/*p {
    color: #fff;
}

.release-results {
    display: flex;
    flex-wrap: wrap;
}

.release-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.release-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}*/

.release-results {
    display: flex; /* Make the list container a flexbox */
    flex-direction: column; /* Allow items to wrap if needed */
    justify-content: center; /* Distribute items horizontally */
    align-items: center; /* Vertically center items within the list*/ 
    /* Optional: Add some margin/padding for spacing 
    /*margin: 10px 0; /* Add some top and bottom margin*/ 
    /*padding: 5px; /* Add some padding for visual separation*/ 
  }
  
  .release-results li {
    flex: 1; 
  }

  h2 {
    font-size: 1.2rem; /* Adjust as needed for heading size*/ 
    text-align: center;
  }
  
  /*.release-image {
    width: 100%; /* Adjust as needed for image width 
    height: auto; /* Maintain aspect ratio 
    object-fit: cover; /* Resize image to fill container
  }*/
  
  .release-title {
    display: flex;
    white-space: normal;
    width: 250px; /* Adjust for larger screens*/ 
  }
  
  h2 {
    font-size: 1.2rem; /* Adjust as needed for heading size*/ 
    text-align: center; /* Center the heading text */
  }

  .release-title h3 {
    font-size: 1rem;
  }

  .releaseImage-div {
    margin-right: 15px;
    border-radius: 5px;
  }
  .releaseImage-div img {
    width: 100%; /* Adjust as needed for image width*/ 
    height: auto; /* Maintain aspect ratio*/
    filter: brightness(120%);
  }

  /*.release-title {
    width: 100%;
  }*/

  .select-div {
    text-align: center;
  }

  .select-div select {
    outline: none;
  }

  .loading-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    font-size: 1.2rem;
    color: #3498db;
  }
  
  /* Media queries for different screen sizes (optional) */
  
  @media (min-width: 768px) {
    .release-results {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around; /* Distribute items with some space on tablets */
      align-items: flex-start;
    }

    .release-title {
      width: 300px;
    }
  
    .releaseImage-div img {
      width: 250px; /* Adjust image width for tablets */
    }
  
    /* Optional adjustments for font sizes, spacing on tablets */
  }
  
  @media (min-width: 1024px) {
    .releaseImage-div img {
      width: 300px; /* Adjust image width for desktops */
    }
  
    /* Optional adjustments for font sizes, spacing on desktops */
  }
  
