.home-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-title {
    display: flex;
    white-space: normal;
    width: 250px;
}

.favorites-manager {
    background-color: transparent;
}