body {
    background-color: black;
}

.navbar {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

 h1 {
    font-family: 'Play', sans-serif;
    color: #fff;
    font-size: 1.2rem;
    margin-left: 10px;
}

.navbarList {
    display:none;
}

.navbarlistItem {
    color:#fff;
    list-style: none;
    margin-right: 40px;
}

.mobile-nav {
    position: absolute;
    top: 18px;
    right: 30px;
    z-index: 99;
    cursor: pointer;
}

.mobile-div {
    position: fixed;
    top:10px;
    width: 100%;
    height: 100vh;
    background-color: rgb(255 255 255 / 0.9);
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.mobile-icon {
    margin-right: 50px;
}

.mobile-link {
    color: #000;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99px;
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
    --tw-shadow-color: #9ca3af;
    --tw-shadow: var(--tw-shadow-colored);
    margin: 1rem;
    padding: 1rem/* 16px */;
    cursor: pointer;
}

@media (min-width: 768px) {
    h1 {
      font-size: 1.8rem; /* Adjust font size as needed */
    }

    .mobile-nav {
        display: none;
    }

    .navbarList {
        display: flex; /* Allow horizontal layout */
      }
  
    .navbarlistItem {
      margin-right: 50px; /* Adjust margin as needed */
      cursor: pointer;
    }
  }
  
  /* Styles for screens with min-width 1024px */
  @media (min-width: 1024px) {
    h1 {
      font-size: 2rem; /* Adjust font size as needed */
    }
  
  
    .navbarlistItem {
      margin-right: 80px; /* Adjust margin as needed */
    }
  }
  
  /* Styles for screens with min-width 1440px */
  @media (min-width: 1440px) {
    h1 {
      font-size: 2.2rem; /* Adjust font size as needed */
    }
  
    .navbar {
      /* Adjust overall navbar width or padding for larger screens */
    }
  
    .navbarList {
      /* Adjust spacing or styles for list items on wider screens */
    }
  }