/*.search-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-input {
    width: 17%;
    border-radius: 5px;
}*/

/* Base styles for mobile (apply styles first) */
.loading-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  font-size: 1.2rem;
  color: #3498db;
}

.search-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem; /* Add some padding for better visuals */
  }
  
  .search-input {
    width: 100%; /* Make input full width on mobile */
    border-radius: 5px;
    padding: 0.5rem; /* Add some padding for input */
    margin-bottom: 1rem; /* Add some space between input and button */
    outline: none;
  }

  .search-button {
    background-color: #3498db;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }

  .search-button:hover {
    background-color: #2980b9;
  }
  
  /* Media queries for larger screens */
  
  @media (min-width: 768px) {
    .search-div {
      flex-direction: row; /* Change to row for larger screens */
      justify-content: space-between; /* Space elements horizontally */
      padding: 2rem; /* Adjust padding for bigger screens */

    }
  
    .search-input {
      width: 60%; /* Adjust input width for medium screens */
    }
  }
  
  @media (min-width: 1024px) {
    .search-input {
      width: 40%; /* Adjust input width for large screens */
    }
  }
  
  @media (min-width: 1440px) {
    .search-input {
      width: 30%; /* Adjust input width for extra-large screens */
    }
  }
  