.game-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.gameImage-div {
    margin-right: 15px;
}

.results-list {
    display: flex;
    flex-wrap: wrap;
}

h2,h3 {
    font-family: 'Montserrat', sans-serif;
    color: #fff; 
}

body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to bottom, #000,#333);
}

a {
    color: #fff;
    text-decoration: none;
}